<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/_header %>
    <title>RentSmart | Register</title>
</head>
<body class="login-background">
    <%- include ../partials/_navbar %>
    <div >
       
            <div class="top-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6" style="background-color: rgba(255, 255, 255, 0.753)">
                        <br>
                        <h3 style="text-align:center">Register as a new user</h3>
                        <br>
                        <form method="POST" action="/auth/register">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <p>Your name:</p>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <p>username:</p>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <p>email:</p>
                                    </div>
                                    <div class="col-6">
                                        <input type="email" name="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <p>password:</p>
                                    </div>
                                    <div class="col-6">
                                        <input type="password" name="password"><br><br>
                                    </div>
                                </div>
                                <br>
                                <div style="text-align: center">
                                    <input type="submit">
                                </div>
                                <br>
                            </div>
                        </form>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="top-space"></div>
            <div class="top-space"></div>
        </div>
    </div>
</body>
</html>