

<nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top" style="background-color: #e9e9e9">
  <a href="/"> <img id = "nav-logo" src="/images/rentsmart-logo.png" height="50px" width="50px"></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if(user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="/users">Profile</a>
          </li>
        <% } else if(!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li> 
        <% }%>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/landlords">Landlords</a>
        </li>
        <li class="nav-item">
          <form action="/landlords/search" method="POST" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search landlords..." aria-label="Search" name ="q">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>             
        </li>
      </ul>
    </div>
  </div>
</nav>