<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Rent Smart</h1>
    <h2>leave reviews on your landlord</h2>
    <a href="/auth/login">Login</a><br>
    <a href="/auth/register">Register</a>
    <% if(user) { %>
        <p>Hello, <%= user %></p>
        <p><a href="/users">See your profile page</a></p>
    <% } %>
</body>
</html>