<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form action ="/reviews" method = "POST">
         <input type= "text" name="user" value = "<%= user %>">
         Landlord : <select name="landlord">
            <% for (let i= 0; i<landlords.length; i++) {%>
            <option name="landlord" value="<%= landlords[i]._id %>"><%= landlords[i].name %></option>
            <% } %>
        </select>
        <a href="/landlords/new">Create a New Landlord</a>
        Address : <input type ="text" name= "address">
        Rating : <input type="number" min="1" max="5" name="rating">
        Comment :<input type="text-area" name="comment">
        Date Moved In :<input type="date" min="01/01/1900" max="01/01/2019" name="dateStart">
        Date Moved Out :<input type="date" min="01/01/1900" max="01/01/2019" name="dateEnd">
        <input type ="submit">

   </form> 
   
</body>
</html>

