<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are all the users </h1>
    <h1>
        <a href="/user/new">Create a new user</a>

    </h1>
    <% for (let i =0; i < users.length; i++) { %>
        <li>
            <a href="/user/<%=users[i]._id%>"><%=users[i].name%></a>
          </li>
          <form action="/user/<%=users[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
    <% } %>
</body>
</html>