<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Document</title>
</head>
<body>
    
    <%- include ../partials/_navbar %>
    
    <h1>Here is the user, baybee</h1>
    <h2><%= user.name %></h2>
    <br>
    <br>
    <p><a href="users/edit">edit your profile</a></p>
    <br>
    <br>
    <br>
    <form action="/users/delete?_method=DELETE" method="POST">
        <input type="submit" value="delete">
    </form>
</body>
</html>