

<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Document</title>
</head>
<body>
        <%- include ../partials/_navbar %>     

  <div class="container">
        <!-- Jumbotron Header -->
        <div class=" landlord-jumbo-new">
          </div>
        </div>
      

       
<div class="container">
        
    <div class="row justify-content-center add-landlord-content">
        
        <h1>Add your current or former to the system</h1>
        <h3>Or if a company manages your property, you can use them instead.</h3>
    </div>
    <form action ="/landlords" method = "POST" class= "landlord-form">
        <input type= "hidden" name="user" value = "<%= user %>">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name : </label>
                <input type ="text" name= "name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="zip">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>

  <%- include ../partials/_footer %>     


    </body>
    </html>