<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add your current or former to the system</h1>
    <h3>Or if a company manages your property, you can use them instead.</h3>
    <form action="/landlords" method="POST">
        <p>Landlord or company name:</p><input type="text" name="name">
        <p>Zip code of landlord or company:</p><input type="number" name="zip">
        <input type="submit">
    </form>
</body>
</html>