

<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Document</title>
</head>
<body>
        <%- include ../partials/_navbar %>     

  <!-- Jumbotron Header -->
  <div class="container">
        <!-- Jumbotron Header -->
        <div class=" landlord-jumbo-new">
          </div>
        </div>
      

       
<div class="container">
        
    <div class="row justify-content-center add-landlord-content">
        
        <h1>Add your current or former to the system</h1>
        <h3>Or if a company manages your property, you can use them instead.</h3>
    </div>
    
  </div>



    </body>
    </html>