<div class="container">
        
        <div class="row">
                <form>
                        <div class="form-row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        </div>
                      </form>
            <form action ="/landlords" method = "POST" class= "landlord-form">
                <input type= "hidden" name="user" value = "<%= user %>">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Name : </label>
                        <input type ="text" name= "name" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputRating">Rating</label>
                            <input type="number" class ="form-control" id="inputRating"  min="1" max="5" name="rating" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
           
         </div>
        </div>
            
            </div>